node_modules
npm-debug.log
out
build
.git
.gitignore
.env
.env*
.vscode
*.md
Dockerfile*
docker-compose*
__pycache__
*.pyc
.python
venv
.venv
credentials.json
token.json
token.json.bak
swagger_output.json
api.json
